
main {
  text-align: center;
  vertical-align: center;
  background-position: 85% 50%;
  background-size: 400px;

}

html {background-color: #FCFAF8;}

/*FORMATTING*/
.section-break{
  min-height:4em;
}

#section-Experiences{
  align-items: flex-end;

}

.section-title-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;

  margin-bottom: 1%;
}


/*TEXT STYLES*/
.small-text{
  font-size:14px;
  color: #232329;
  font-weight:normal;
}

.section-title{
  font-size:30px;
  font-weight: bold;
  text-align:left;
  margin-bottom: 0.4em;
  
  grid-column: 3 / 6;

  color: var(--l-sub-heading);
}

@media screen and (max-width: 740px) {
  .section-title{
    font-size: 24px;
  }
}


#experiences, #gallery{
  grid-column: 8 / 11;
  direction: rtl;
  text-align: right;
}

.closing{

  max-width: 60vw;
  margin:auto;
  font-style: italic;
  text-align: center;
  font-size:14px;
}
