/*CSS grid styling*/
.navigation{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  /*margin-top:20vh;*/
}

/*applies to the main div's children*/
.navigation > *{
  margin: 0px;
}

.middle-block{
  display:grid;
  grid-column: 3 / 11;
  justify-items: end;

}

.right-block{
  display:grid;
  grid-column: 8 / 11; 
}


/*------------------------*/
.title{
  direction: rtl;
  text-align:right;
}
#navigation-bar{
  grid-row: 2 / 2; 
  font-size: 20px;
  margin: 4px;

  text-align:right;
  direction: rtl;
}

/*smaller screens*/
@media screen and (max-width: 740px) {
  #navigation-bar{
    font-size: 16px;
  }
}




